swagger: "2.0"
info:
  description: "api.epi.today"
  version: "1.0.0"
  title: "epi.today"
  license:
    name: "MIT License"
    url: "https://spdx.org/licenses/MIT.html"
host: "api.epi.today"
basePath: "/v1"
externalDocs:
  description: "Source code"
  url: "http://github.com/x4m3/api.epi.today"
schemes:
- "https"
tags:
  - name: "health"
  - name: "user"
    description: "Student information"
  - name: "planning"
    description: "Main school planning"
  - name: "custom_planning"
    description: "Custom school plannings"
paths:
  /:
    get:
      tags:
        - "health"
      summary: "Main entry point (only for html viewing)"
      produces:
        - "text/html"
      responses:
        200:
          description: "List of api endpoints"
  /health/api:
    get:
      tags:
        - "health"
      summary: "Health of current api"
      produces:
        - "application/json"
      responses:
        200:
          description: "uptime"
  /health/intra:
    get:
      tags:
        - "health"
      summary: "Health of epitech intra api"
      produces:
        - "application/json"
      responses:
        200:
          description: "intra should be okay (you're never sure)"
        503:
          description: "unable to get information (intra is probably down)"
  /user/info:
    post:
      tags:
        - "user"
      summary: "Student information"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/Autologin"
      produces:
        - "application/json"
      responses:
        200:
          description: "Student information"
          schema:
            items:
              $ref: "#/definitions/User"
        503:
          description: "unable to get information (intra is probably down)"
  /planning/day/{year}-{month}-{date}:
    post:
      tags:
        - "planning"
      summary: "Get planning of particular day"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/Autologin"
      produces:
        - "application/json"
      responses:
        200:
          description: "Planning of day"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/PlanningDay'
        503:
          description: "unable to get information (intra is probably down)"
  /planning/rdv/info:
    post:
      tags:
        - "planning"
      summary: "Get planning of particular rendez-vous"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          allOf:
            - $ref: "#/definitions/Autologin"
            - type: "object"
              properties:
                year:
                  type: "integer"
                code_module:
                  type: "string"
                code_instance:
                  type: "string"
                code_acti:
                  type: "string"
                email:
                  type: "string"
      produces:
        - "application/json"
      responses:
        200:
          description: "Information about rendez-vous"
          schema:
            $ref: '#/definitions/RdvInfo'
        503:
          description: "unable to get information (intra is probably down)"
  /planning/event/register:
    post:
      tags:
        - "planning"
      summary: "Register to event"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/EventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Registration result"
        503:
          description: "unable to get reply (intra is probably down)"
  /planning/event/unregister:
    post:
      tags:
        - "planning"
      summary: "Unegister to event"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/EventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Unregistration result"
        503:
          description: "unable to get reply (intra is probably down)"
  /planning/event/enter_token:
    post:
      tags:
        - "planning"
      summary: "Enter token for event"
      consumes:
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          allOf:
            - $ref: "#/definitions/EventParams"
            - type: "object"
              properties:
                token:
                  type: "string"
      produces:
        - "application/json"
      responses:
        200:
          description: "Token information"
        503:
          description: "unable to get information (intra is probably down)"
  /custom_planning/list:
  /custom_planning/day/{year}-{month}-{date}:
  /custom_planning/event/register:
  /custom_planning/event/unregister:



definitions:
  Autologin:
    type: "object"
    properties:
      autologin:
        type: "string"
        pattern: '^([a-z0-9]{40})$'
  User:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
      city:
        type: "string"
      year:
        type: "integer"
      semester:
        type: "integer"
      credits:
        type: "integer"
      gpa:
        type: "integer"
        format: "double"
      log:
        type: "integer"
  PlanningDay:
    type: "object"
    properties:
      year:
        type: "number"
      code_module:
        type: "string"
      code_instance:
        type: "string"
      code_acti:
        type: "string"
      code_event:
        type: "string"
      is_rdv:
        type: "boolean"
      title:
        type: "string"
      module:
        type: "string"
      room:
        type: "string"
      teacher:
        type: "string"
      semester:
        type: "integer"
      time_start:
        type: "string"
      time_end:
        type: "string"
      registration_status:
        type: "boolean"
  RdvInfo:
    type: "object"
    properties:
      title:
        type: "string"
      time_start:
        type: "string"
      time_end:
        type: "string"
      registration_status:
        type: "boolean"
  EventParams:
    type: "object"
    allOf:
      - $ref: "#/definitions/Autologin"
      - type: "object"
        properties:
          year:
            type: "integer"
          code_module:
            type: "string"
          code_instance:
            type: "string"
          code_acti:
            type: "string"
          code_event:
            type: "string"