swagger: "2.0"

info:
  description: "api.epi.today"
  version: "1.0.0"
  title: "api.epi.today"
  license:
    name: "MIT License"
    url: "https://spdx.org/licenses/MIT.html"

host: "api.epi.today"
basePath: "/v1"

externalDocs:
  description: "Source code"
  url: "http://github.com/x4m3/api.epi.today"

schemes:
- "https"

tags:
  - name: "health"
    description: "health of apis"
  - name: "user"
    description: "Student information"
  - name: "planning"
    description: "Main school planning"
  - name: "custom_planning"
    description: "Custom school plannings"

paths:
  /health/api:
    get:
      tags:
        - "health"
      summary: "Health of current api"
      produces:
        - "application/json"
      responses:
        200:
          description: "2epi2day4you"
  /health/intra:
    get:
      tags:
        - "health"
      summary: "Health of epitech intra api"
      produces:
        - "application/json"
      responses:
        200:
          description: "intra should be okay (you're never sure)"
        503:
          description: "unable to get information (intra is probably down)"
  /user/info:
    get:
      tags:
        - "user"
      summary: "Student information"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Student information"
          schema:
            items:
              $ref: "#/definitions/User"
        400:
          description: "bad or no autologin provided"
        500:
          description: "could not get requested information"
        503:
          description: "unable make request to intra"
  /planning/day/{year}-{month}-{date}:
    get:
      tags:
        - "planning"
      summary: "Get planning of particular day"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
        - in: "path"
          name: "year"
          required: true
          type: "string"
          pattern: '^20\d\d$'
        - in: "path"
          name: "month"
          required: true
          type: "string"
          pattern: '^(0[1-9]|1[012])$'
        - in: "path"
          name: "date"
          required: true
          type: "string"
          pattern: '^(0[1-9]|[12][0-9]|3[01])$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Planning of day"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/PlanningDay'
        503:
          description: "unable to get information (intra is probably down)"
  /planning/rdv:
    get:
      tags:
        - "planning"
      summary: "Get planning of particular rendez-vous"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          allOf:
            - type: "object"
              properties:
                year:
                  type: "integer"
                  pattern: '^20\d\d$'
                code_module:
                  type: "string"
                  pattern: '^([A-Z])-([A-Z]*)-([0-9]*)$'
                code_instance:
                  type: "string"
                  pattern: '^([A-Z]*)-([0-9]*)-([0-9])$'
                code_acti:
                  type: "string"
                  pattern: '^(acti-\d*)$'
                email:
                  type: "string"
                  pattern: '^([A-Z0-9a-z.-]+@epitech.eu)$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Information about rendez-vous"
          schema:
            $ref: '#/definitions/RdvInfo'
        503:
          description: "unable to get information (intra is probably down)"
  /planning/event:
    put:
      tags:
        - "planning"
      summary: "Register to event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/PlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Registration result"
        503:
          description: "unable to get reply (intra is probably down)"
    delete:
      tags:
        - "planning"
      summary: "Un-register to event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/PlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Un-registration result"
        503:
          description: "unable to get reply (intra is probably down)"
  /planning/token:
    put:
      tags:
        - "planning"
      summary: "Enter token for event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          allOf:
            - $ref: "#/definitions/PlanningEventParams"
            - type: "object"
              properties:
                token:
                  type: "string"
                  pattern: '^([0-9]*)$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Token information"
        503:
          description: "unable to get information (intra is probably down)"
  /custom_planning/list:
    get:
      tags:
        - "custom_planning"
      summary: "Get list of custom plannings"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Custom plannings available"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/CustomPlannings'
        503:
          description: "unable to get information (intra is probably down)"
  /custom_planning/day/{year}-{month}-{date}:
    get:
      tags:
        - "custom_planning"
      summary: "Get list of events in custom planning of particular day"
      consumes:
        - "application/json"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
        - in: "path"
          name: "year"
          required: true
          type: "string"
          pattern: '^20\d\d$'
        - in: "path"
          name: "month"
          required: true
          type: "string"
          pattern: '^(0[1-9]|1[012])$'
        - in: "path"
          name: "date"
          required: true
          type: "string"
          pattern: '^(0[1-9]|[12][0-9]|3[01])$'
        - in: "body"
          name: "body"
          required: true
          schema:
              type: "object"
              properties:
                calendar_id:
                  type: "string"
                  pattern: '^([0-9]*)$'
      produces:
        - "application/json"
      responses:
        200:
          description: "List of events"
          schema:
            $ref: '#/definitions/CustomPlanningDay'
        503:
          description: "unable to get information (intra is probably down)"
        404:
          description: "could not find calendar"
  /custom_planning/event:
    put:
      tags:
        - "custom_planning"
      summary: "Register to custom planning event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/CustomPlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Registration result"
        503:
          description: "unable to get reply (intra is probably down)"
    delete:
      tags:
        - "custom_planning"
      summary: "Un-register to custom planning event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/CustomPlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Un-registration result"
        503:
          description: "unable to get reply (intra is probably down)"

definitions:
  User:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
      city:
        type: "string"
      year:
        type: "integer"
      semester:
        type: "integer"
      credits:
        type: "integer"
      gpa:
        type: "integer"
        format: "double"
      log:
        type: "integer"
  PlanningDay:
    type: "object"
    properties:
      year:
        type: "number"
      code_module:
        type: "string"
      code_instance:
        type: "string"
      code_acti:
        type: "string"
      code_event:
        type: "string"
      is_rdv:
        type: "boolean"
      title:
        type: "string"
      module:
        type: "string"
      room:
        type: "string"
      teacher:
        type: "string"
      semester:
        type: "integer"
      time_start:
        type: "string"
      time_end:
        type: "string"
      registration_status:
        type: "boolean"
  RdvInfo:
    type: "object"
    properties:
      title:
        type: "string"
      time_start:
        type: "string"
      time_end:
        type: "string"
      registration_status:
        type: "boolean"
  PlanningEventParams:
    type: "object"
    properties:
      year:
        type: "integer"
        pattern: '^20\d\d$'
      code_module:
        type: "string"
        pattern: '^([A-Z])-([A-Z]*)-([0-9]*)$'
      code_instance:
        type: "string"
        pattern: '^([A-Z]*)-([0-9]*)-([0-9])$'
      code_acti:
        type: "string"
        pattern: '^(acti-\d*)$'
      code_event:
        type: "string"
        pattern: '^(event-[0-9]*)$'
  CustomPlannings:
    type: "object"
    properties:
      calendar_id:
        type: "string"
      calendar_title:
        type: "string"
  CustomPlanningDay:
    type: "object"
    allOf:
      - $ref: "#/definitions/CustomPlannings"
      - type: "object"
        properties:
          calendar_id:
            type: "string"
          event_id:
            type: "string"
          title:
            type: "string"
          room:
            type: "string"
          time_start:
            type: "string"
          time_end:
            type: "string"
          teacher:
            type: "string"
          registration_status:
            type: "boolean"
  CustomPlanningEventParams:
    type: "object"
    properties:
      calendar_id:
        type: "string"
        pattern: '^([0-9]*)$'
      event_id:
        type: "string"
        pattern: '^([0-9]*)$'