swagger: "2.0"

info:
  description: "api.epi.today"
  version: "1.0.0"
  title: "api.epi.today"
  license:
    name: "MIT License"
    url: "https://spdx.org/licenses/MIT.html"

host: "api.epi.today"
basePath: "/v1"

externalDocs:
  description: "Source code"
  url: "http://github.com/x4m3/api.epi.today"

schemes:
- "https"

tags:
  - name: "health"
    description: "health of apis"
  - name: "user"
    description: "Student information"
  - name: "planning"
    description: "Main school planning"
  - name: "custom_planning"
    description: "Custom school plannings"

paths:
  /health/api:
    get:
      tags:
        - "health"
      summary: "Health of current api"
      produces:
        - "application/json"
      responses:
        200:
          description: "api version"
  /health/intra:
    get:
      tags:
        - "health"
      summary: "Health of epitech intra api"
      produces:
        - "application/json"
      responses:
        200:
          description: "intra should be okay (you're never sure)"
        500:
          description: "could not make request"
        503:
          description: "unable to get information (intra is probably down)"
  /user/info:
    get:
      tags:
        - "user"
      summary: "Student information"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Student information"
          schema:
            items:
              $ref: "#/definitions/User"
        400:
          description: "bad or no autologin provided"
        500:
          description: "could not get requested information"
        503:
          description: "unable make request to intra"
  /planning/day:
    get:
      tags:
        - "planning"
      summary: "Get planning of particular day"
      consumes:
        - "application/json"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: '#/definitions/PlanningDayParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Planning of day"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/PlanningDay'
        503:
          description: "unable to get information (intra is probably down)"
  /planning/rdv:
    get:
      tags:
        - "planning"
      summary: "Get info of particular rendez-vous"
      consumes:
        - "application/json"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: '#/definitions/RdvParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Information about rendez-vous"
          schema:
            $ref: '#/definitions/RdvInfo'
        500:
          description: "failed to extract all information"
        503:
          description: "unable to get information (intra is probably down)"
  /planning/event:
    put:
      tags:
        - "planning"
      summary: "Register to event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/PlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Registration result"
        503:
          description: "unable to get reply (intra is probably down)"
    delete:
      tags:
        - "planning"
      summary: "Un-register to event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/PlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Un-registration result"
        503:
          description: "unable to get reply (intra is probably down)"
  /planning/token:
    put:
      tags:
        - "planning"
      summary: "Enter token for event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/PlanningEventTokenParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "Token submitted successfully"
        500:
          description: "could not register token (with additional info)"
        503:
          description: "unable to get information (intra is probably down)"
  /custom_planning/list:
    get:
      tags:
        - "custom_planning"
      summary: "Get list of custom plannings"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
      produces:
        - "application/json"
      responses:
        200:
          description: "Custom plannings available"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/CustomPlannings'
        503:
          description: "unable to get information (intra is probably down)"
  /custom_planning/day:
    get:
      tags:
        - "custom_planning"
      summary: "Get custom planning of particular day"
      consumes:
        - "application/json"
      parameters:
        - in: "header"
          name: "autologin"
          required: true
          type: "string"
          pattern: '^([a-z0-9]{40})$'
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: '#/definitions/CustomPlanningDayParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "List of events"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/CustomPlanningDay'
        500:
          description: "failed to get everyting correctly"
        503:
          description: "unable to get information (intra is probably down)"
        404:
          description: "could not find calendar"
  /custom_planning/event:
    put:
      tags:
        - "custom_planning"
      summary: "Register to custom planning event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/CustomPlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "registration ok"
        400:
          description: "past event"
        500:
          description: "already registered"
        503:
          description: "unable to get reply (intra is probably down)"
    delete:
      tags:
        - "custom_planning"
      summary: "Un-register to custom planning event"
      consumes:
        - "application/json"
      parameters:
      - in: "header"
        name: "autologin"
        required: true
        type: "string"
        pattern: '^([a-z0-9]{40})$'
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: '#/definitions/CustomPlanningEventParams'
      produces:
        - "application/json"
      responses:
        200:
          description: "unregistration ok"
        400:
          description: "past event"
        500:
          description: "already unregistered"
        503:
          description: "unable to get reply (intra is probably down)"

definitions:
  User:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
      city:
        type: "string"
      year:
        type: "integer"
      semester:
        type: "integer"
      credits:
        type: "integer"
      gpa:
        type: "string"
      log:
        type: "number"
  PlanningDayParams:
    type: "object"
    properties:
      date:
        type: "string"
        pattern: "^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01]))$"
  PlanningDay:
    type: "object"
    properties:
      year:
        type: "number"
      code_module:
        type: "string"
      code_instance:
        type: "string"
      code_acti:
        type: "string"
      code_event:
        type: "string"
      is_rdv:
        type: "boolean"
      is_custom:
        type: "boolean"
      title:
        type: "string"
      module:
        type: "string"
      room:
        type: "string"
      teacher:
        type: "string"
      semester:
        type: "integer"
      time_start:
        type: "string"
      time_end:
        type: "string"
      registration_status:
        type: "boolean"
  RdvParams:
    type: "object"
    properties:
      year:
        type: "integer"
      code_module:
        type: "string"
        pattern: '^([A-Z])-([A-Z]*)-([0-9]*)$'
      code_instance:
        type: "string"
        pattern: '^([A-Z]*)-([0-9]*)-([0-9])$'
      code_acti:
        type: "string"
        pattern: '^(acti-\d*)$'
      email:
        type: "string"
        pattern: '^([A-Z0-9a-z.-]+@epitech.eu)$'
  RdvInfo:
    type: "object"
    properties:
      title:
        type: "string"
      time_start:
        type: "string"
      time_end:
        type: "string"
  PlanningEventParams:
    type: "object"
    properties:
      year:
        type: "integer"
      code_module:
        type: "string"
        pattern: '^([A-Z])-([A-Z]*)-([0-9]*)$'
      code_instance:
        type: "string"
        pattern: '^([A-Z]*)-([0-9]*)-([0-9])$'
      code_acti:
        type: "string"
        pattern: '^(acti-\d*)$'
      code_event:
        type: "string"
        pattern: '^(event-[0-9]*)$'
  PlanningEventTokenParams:
    type: "object"
    properties:
      year:
        type: "integer"
      code_module:
        type: "string"
        pattern: '^([A-Z])-([A-Z]*)-([0-9]*)$'
      code_instance:
        type: "string"
        pattern: '^([A-Z]*)-([0-9]*)-([0-9])$'
      code_acti:
        type: "string"
        pattern: '^(acti-\d*)$'
      code_event:
        type: "string"
        pattern: '^(event-[0-9]*)$'
      token:
        type: "integer"
  CustomPlannings:
    type: "object"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
  CustomPlanningDayParams:
    type: "object"
    properties:
      id:
        type: "integer"
      date:
        type: "string"
        pattern: "^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01]))$"
  CustomPlanningDay:
    type: "object"
    properties:
      calendar_id:
        type: "integer"
      event_id:
        type: "integer"
      title:
        type: "string"
      room:
        type: "string"
      time_start:
        type: "string"
      time_end:
        type: "string"
      teacher:
        type: "string"
      registration_status:
        type: "boolean"
  CustomPlanningEventParams:
    type: "object"
    properties:
      calendar_id:
        type: "integer"
      event_id:
        type: "integer"